.usersTab {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.incomingUser {
    position: relative;
    display: flex;
    gap: 6px;
    background-color: #c8ffee;
    padding: 1px 10px;
    border-radius: 4px;
    user-select: none;
}

.leavingUser {
    position: relative;
    display: flex;
    gap: 6px;
    background-color: #ffd4c2;
    padding: 1px 10px;
    border-radius: 4px;
    user-select: none;
}

.details {
    position: absolute;
    top: 30px;
    border: 2px solid #000;
    background-color: #fff;
    padding: 1px;
    z-index: 1;
}