.input {
  display: none;
}

.inputLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 80px;
  background-color: #56b8e3;
  border: 6px dashed #009ee4;
  border-radius: 10px;
  color: #f7f5f6;
  font-size: 32px;
  font-weight: 400;
  user-select: none;
}

.inputLabel:hover {
  background-color: #0080c1;
}

.inputLabel:active {
  background-color: #005c83;
}
