.input {
  display: none;
}

.inputLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 1400px;
  height: 80px;
  background-color: #EDECFF;
  border-radius: 10px;
  color: #565EEF;
  font-size: 32px;
  font-weight: 400;
  user-select: none;
}

.inputLabel:hover {
  background-color: #dbdaec;
  border: 1px solid #565EEF;
}

.inputLabel:active {
  background-color: #bfbecc;
}
