.wrapper {
    width: 1400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: auto auto 200px;
}

.container {
    width: 1400px;
}

.header {
    width: 1400px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
}

.block{
    display: flex;
    justify-content: space-around;
}

.showUsersBlock {
    display: flex;
    gap: 20px;
}
